version: '3.8'

services:
  web:
    build: .
    restart: unless-stopped
    command: bash -c "service cron start && python manage.py migrate && python manage.py createcachetable && gunicorn jevoucher.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
      - ./.env:/app/.env:ro
    ports:
      - 8005:8000
    env_file:
      - .env
    environment:
      - POSTGRES_DB=jevoucher
      - POSTGRES_USER=jevoucher
      - POSTGRES_PASSWORD=jevoucher_password
      - POSTGRES_HOST=db
    depends_on:
      - db

  db:
    image: postgres:15
    restart: unless-stopped
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=jevoucher
      - POSTGRES_USER=jevoucher
      - POSTGRES_PASSWORD=jevoucher_password
